#playground{
    height: 600px;
    width: 600px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.square{
    height: calc(100% / 8);
    width: calc(100% / 8);
    border: 2px solid white;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:crosshair;
}

.active{
    background-color: cyan;
    color: black;
}